<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Albums</title>
</head>
<body>

    <div th:each="album : ${albums}" >
        <h1 th:text="${album.getTitle()}"></h1>
        <h3 th:text="'The artist is '+${album.getArtist()}"></h3>
        <p  th:text="'it has '+${album.getSongCount()}+' musics'"></p>
        <p  th:text="'The length in seconds is ' + ${album.getLengthSecs()}"></p>
        <img th:src="${album.getImageUrl()}" />
        <br><br>
<!--        <input th:action="@{'/albums/'+${album.getId()}}" type="button" value="Show Song"  />-->
   <form th:action="@{'/albums/'+${album.getId()}}" method="get" >
       <input type="submit" value="Show Songs" />
   </form>
    </div>


    <form action="#" th:action="@{/albums}" th:object="${albumObj}" method="post">
        <p>Title: <input type="text" th:field="*{title}"/></p>
        <p>Artist Name: <input type="text" th:field="*{artist}" /> </p>
        <p>Songs Counts: <input type="number" th:field="*{songCount}" /> </p>
        <p>Length in seconds: <input type="number" th:field="*{lengthSecs}"  /></p>
        <p>Image URL: <input type="url" th:field="*{imageUrl}" /></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"></p>
    </form>

    <form th:action="@{songs}" method="post">
       <p>Song Title: <input type="text" name="title" /> </p>
        <p>Song Length(seconds): <input type="number" name="length" /></p>
        <p>Track Number: <input type="number" name="trackNumber" /></p>
        <p>Album Id: <input type="number" name="albumId" /></p>
        <input type="submit" value="ADD Song" />
    </form>
</body>
</html>